<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">

	<select  id="selectList" resultType="testTb">
		SELECT id, val1, val2, regdate, moddate FROM test_tb
	</select>    

</mapper>